@import "_variables";
@import "_reset";
@import "_extends";
@import "_mixins";

// partials
@import "./partials/header";
@import "./partials/halves";
@import "./partials/productTile";
@import "./partials/inspiration";
@import "./partials/footer";
@import "./partials/journals";
@import "./partials/instagram";

body {
  font-family: "Playfair Display", serif;
  background-color: white;
}
* {
  box-sizing: border-box;
}
main {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  padding: 40px 140px;
  width: 100%;
  display: flex;
  max-width: 1920px;
}
